<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>em</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CodeFilter</display-name>
    <filter-name>CodeFilter</filter-name>
    <filter-class>com.neusoft.system.tools.CodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CodeFilter</filter-name>
    <url-pattern>/CodeFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>QueryEmpServlet</display-name>
    <servlet-name>QueryEmpServlet</servlet-name>
    <servlet-class>com.neusoft.web.impl.QueryEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryEmpServlet</servlet-name>
    <url-pattern>/QueryEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findByIdEmp</display-name>
    <servlet-name>findByIdEmp</servlet-name>
    <servlet-class>com.neusoft.web.support.ServletSupport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findByIdEmp</servlet-name>
    <url-pattern>/findByIdEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByIdEmpServlet</display-name>
    <servlet-name>FindByIdEmpServlet</servlet-name>
    <servlet-class>com.neusoft.web.impl.FindByIdEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdEmpServlet</servlet-name>
    <url-pattern>/FindByIdEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSupport2</display-name>
    <servlet-name>ServletSupport2</servlet-name>
    <servlet-class>com.neusoft.web.support.ServletSupport2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSupport2</servlet-name>
    <url-pattern>/ServletSupport2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelByIdEmpServlet</display-name>
    <servlet-name>DelByIdEmpServlet</servlet-name>
    <servlet-class>com.neusoft.web.impl.DelByIdEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelByIdEmpServlet</servlet-name>
    <url-pattern>/DelByIdEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyEmpServlet</display-name>
    <servlet-name>ModifyEmpServlet</servlet-name>
    <servlet-class>com.neusoft.web.impl.ModifyEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyEmpServlet</servlet-name>
    <url-pattern>/ModifyEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchDeleteEmpServlet</display-name>
    <servlet-name>BatchDeleteEmpServlet</servlet-name>
    <servlet-class>com.neusoft.web.impl.BatchDeleteEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchDeleteEmpServlet</servlet-name>
    <url-pattern>/BatchDeleteEmpServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ConnectionFilter</display-name>
    <filter-name>ConnectionFilter</filter-name>
    <filter-class>com.neusoft.system.tools.ConnectionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ConnectionFilter</filter-name>
    <url-pattern>/ConnectionFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TuiXiuServlet</display-name>
    <servlet-name>TuiXiuServlet</servlet-name>
    <servlet-class>com.neusoft.web.impl.TuiXiuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TuiXiuServlet</servlet-name>
    <url-pattern>/TuiXiuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>A1</display-name>
    <servlet-name>A1</servlet-name>
    <servlet-class>com.neusoft.web.impl.A1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A1</servlet-name>
    <url-pattern>/A1</url-pattern>
  </servlet-mapping>
</web-app>